a {
	text-decoration: none;
	color: #444;
	background-color: #DDD;
	padding: 2px 3px;
	border-bottom: 1px solid #222;
	display: block;
	border-radius: 2px;
}
a:hover {
	text-decoration: none;
	background-color: #999;
	color: #FFF;
}
a:last-child {
	border-bottom: 0px solid #222;
	margin-bottom: 10px;
}
a:first-child {
	margin-top: 10px;
}
.header>h1 {
	margin-left: 280px;
}
.header>img {
	float: left;
	height: 55px;
	width: 100px;
}
.content {
	border-right: 1px solid #999;
	padding: 20px;
	background-color: #edeff0;
}
